<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TravelApp | Hotels</title>

  <link href="/css/hotels.css" rel="stylesheet" type="text/css">
</head>

<body class="color-background">

  <div class="logo poppins-black-white-36px">
    <a href="/" class="logo-color">Travel App</a>
  </div>

  <div class="title-left-space">
    <h1 class="poppins-black-white-25px">Choose your accomodation!</h1>
  </div>

  <div class="selection-map-division">

    <div class="selection-border">
      
      <div class="input-style">
        <input type="radio" id="option1" name="options">
        <label for="option1" class="poppins-bold-parsley-14px">Option 1</label>
      </div>
      <div class="input-style">
        <input type="radio" id="option2" name="options">
        <label for="option2" class="poppins-bold-parsley-14px">Option 2</label>
      </div>
      <div class="input-style">
        <input type="radio" id="option3" name="options">
        <label for="option3" class="poppins-bold-parsley-14px">Option 3</label>
      </div>
      <div class="input-style">
        <input type="radio" id="option4" name="options">
        <label for="option4" class="poppins-bold-parsley-14px">Option 4</label>
      </div>
      
    </div>

    <div>
      <div class="map-frame">
        <button style="height: 300px; width: 650px;"></button>
      </div>

      <div class="next-step-style">
        <a href="" class="poppins-bold-parsley-14px">Continue the selection</a>
      </div>
    </div>

  </div>

</body>
</html>
