<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TravelApp</title>
    
    <link href="/css/index.css" rel="stylesheet" type="text/css">

    <script>
        function updateOptions(selectedType) {
            var originSelect = document.getElementById('countryOrigin');
            var destinationSelect = document.getElementById('countryDestination');

            // Clear previous options
            originSelect.innerHTML = '';
            destinationSelect.innerHTML = '';

            if (selectedType === 'overlands') {
                fetch('/overlands/origins')
                    .then(response => response.json())
                    .then(data => {
                        data.forEach(origin => {
                            var option = document.createElement('option');
                            option.value = origin;
                            option.text = origin;
                            originSelect.appendChild(option);
                        });
                    })
                    .catch(error => {
                        console.error(error);
                    });

                fetch('/overlands/destinations')
                    .then(response => response.json())
                    .then(data => {
                        data.forEach(destination => {
                            var option = document.createElement('option');
                            option.value = destination;
                            option.text = destination;
                            destinationSelect.appendChild(option);
                        });
                    })
                    .catch(error => {
                        console.error(error);
                    });
            } else if (selectedType === 'flights') {
                fetch('/flights/origins')
                    .then(response => response.json())
                    .then(data => {
                        data.forEach(origin => {
                            var option = document.createElement('option');
                            option.value = origin;
                            option.text = origin;
                            originSelect.appendChild(option);
                        });
                    })
                    .catch(error => {
                        console.error(error);
                    });

                fetch('/flights/destinations')
                    .then(response => response.json())
                    .then(data => {
                        data.forEach(destination => {
                            var option = document.createElement('option');
                            option.value = destination;
                            option.text = destination;
                            destinationSelect.appendChild(option);
                        });
                    })
                    .catch(error => {
                        console.error(error);
                    });
            }
        }

    </script>
</head>
<body class="backgroundImg">

    <div class="gap-logo-button">

        <h1 class="logo poppins-black-white-36px">Travel App</h1>

        <div class="gap-register-login">
            <% if (typeof user === 'undefined' || user === null) { %>
                <div>
                    <a href="/login" class="button-frame">Login</a>
                </div>
                <div>
                    <a href="/register" class="button-frame">Register</a>
                </div>
            <% } else { %>
                <div>
                    <a href="/" class="button-frame">Logout</a>
                </div>
                <form id="userForm">

                    <input type="hidden" value="<%= user %>" name="user">

                    <div class="register-button-frame">
                        <button type="submit" class="registerbutton"><%= user.name %></button>
                    </div>

                </form>
            <% } %>
        </div>
    </div>
    

    <div class="mountains"> 
        <div class="mountains-item montserrat-medium-white-16px">MOUNTAINS</div>
        <div class="rectangle"></div>
        <div class= "mountains-item montserrat-medium-white-16px" >MUSEUMS</div>
        <div class="rectangle"></div> 
        <div class="beaches montserrat-medium-white-16px">BEACHES</div> 

        <h1 class="travel-far-travel-w montserrat-bold-white-50px">
            <span class="montserrat-bold-white-50px">Travel far, <br />travel wide, <br /></span>
            <span class="span1">and let soul explode the wonders of the world.</span>
        </h1>
    

        <div class="destination-bar-transparent">
            <div class="destination-content-white">
                
                <form id="seachForm">
                    <div class="form-style">

                        <div class="destination-form-style">
                            <label class="poppins-bold-parsley-14px">Type:</label>
                            <select class="poppins-bold-parsley-14px" style="border: none;" name="type" id="type" onchange="updateOptions(this.value)">
                                <option value="">Select a type</option>
                                <option value="overlands">Overland</option>
                                <option value="flights">Flight</option>
                            </select>
                        </div>

                        <div class="destination-form-style">
                            <label class="poppins-bold-parsley-14px">From: </label>
                            <select class="poppins-bold-parsley-14px" style="border: none;" name="countryOrigin" id="countryOrigin">
                                <option value="">Select an origin</option>
                            </select>
                        </div>
                        
                        <div class="destination-form-style">
                            <label class="poppins-bold-parsley-14px">Destination:</label>
                            <select class="poppins-bold-parsley-14px" style="border: none;" name="countryDestination" id="countryDestination">
                                <option value="">Select a destination</option>
                            </select>
                        </div>

                        <div class="destination-form-style"> 
                            <label class="poppins-bold-parsley-14px">Guests:</label>
                            <select class="poppins-bold-parsley-14px" style="border: none;" name="guests">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                        </div>

                        <% if (typeof user === 'undefined' || user === null) { %>
                            <!-- User is not defined or null -->
                        <% } else { %>
                            <input type="hidden" value="<%= user %>" name="user">
                        <% } %>

                    </div>
                </div>
                
                <% if (typeof user === 'undefined' || user === null) { %>
                </form>
                    <div>
                        <button class="poppins-bold-white-14px search-style" onclick="location.href = 'http://localhost:3000/login';">Search</button>
                    </div>
                <% } else { %>
                    <div>
                        <button class="poppins-bold-white-14px search-style" type="submit">Search</button>
                    </div>
                </form>
                <% } %>
            </div>
        </div>

    </div>

    <script>

        document.getElementById('seachForm').addEventListener('submit', async (event) => {
            event.preventDefault();
        
            const form = event.target;
            const formData = new FormData(form);
            const requestData = Object.fromEntries(formData);

            const urlParams = new URLSearchParams(window.location.search);
            const encodedUser = urlParams.get('user');

            var selectedType = document.getElementById('type').value;
    
            if(selectedType=='flights'){

                try {
                    const response = await fetch('/flights/selectPage', {
                        method: 'POST',
                        headers: {
                        'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(requestData)
                    });

                    if (response.ok) {
                        const data = await response.json();
                        if (data.redirect) {
                        const { flights, guests, user } = data;
                        window.location.href = `${data.redirect}?flights=${encodeURIComponent(JSON.stringify(flights))}&guests=${encodeURIComponent(JSON.stringify(guests))}&user=${encodedUser}`;
                        }
                    } else {
                        const errorData = await response.json();
                        console.error('Search Failed:', errorData.error);
                        // Handle error display on the frontend
                    }
                } catch (error) {
                console.error('Search Failed:', error);
                // Handle error display on the frontend
                }

            }
            else if (selectedType=='overlands'){

                try {
                    const response = await fetch('/overlands/selectPage', {
                        method: 'POST',
                        headers: {
                        'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(requestData)
                    });

                    if (response.ok) {
                        const data = await response.json();
                        if (data.redirect) {
                        const { overlands, guests, user } = data;
                        window.location.href = `${data.redirect}?overlands=${encodeURIComponent(JSON.stringify(overlands))}&guests=${encodeURIComponent(JSON.stringify(guests))}&user=${encodedUser}`;
                        }
                    } else {
                        const errorData = await response.json();
                        console.error('Search Failed:', errorData.error);
                        // Handle error display on the frontend
                    }
                } catch (error) {
                console.error('Search Failed:', error);
                // Handle error display on the frontend
                }

            }
        });
        document.getElementById('userForm').addEventListener('submit', async (event) => {
            event.preventDefault();

            const form = event.target;
            const formData = new FormData(form);
            const requestData = Object.fromEntries(formData);

            const urlParams = new URLSearchParams(window.location.search);
            const encodedUser = urlParams.get('user');

            try {
                const response = await fetch('/users/userPage', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(requestData)
                });

                if (response.ok) {
                const data = await response.json();
                if (data.redirect) {
                    const { user } = data;
                    window.location.href = `${data.redirect}?user=${encodedUser}`;
                }
                } else {
                const errorData = await response.json();
                console.error('Search Failed:', errorData.error);
                // Handle error display on the frontend
                }
            } catch (error) {
                console.error('Search Failed:', error);
                // Handle error display on the frontend
            }
        });

      </script>

</body>
</html>