<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TravelApp</title>
    
    <link href="/css/index.css" rel="stylesheet" type="text/css">
</head>
<body class="backgroundImg">

    <div class="gap-logo-button">

        <h1 class="logo poppins-black-white-36px">Travel App</h1>

        <div class="gap-register-login">

            <div class="register-button-frame">
                <a href="/login" class="loginbutton">Login</a>
            </div>

            <div class="register-button-frame">
                <a href="/register" class="registerbutton">Register</a>
            </div>

        </div>
    </div>
    

    <div class="mountains"> 
        <div class="mountains-item montserrat-medium-white-16px">MOUNTAINS</div>
        <div class="rectangle"></div>
        <div class= "mountains-item montserrat-medium-white-16px" >MUSEUMS</div>
        <div class="rectangle"></div> 
        <div class="beaches montserrat-medium-white-16px">BEACHES</div> 

        <h1 class="travel-far-travel-w montserrat-bold-white-50px">
            <span class="montserrat-bold-white-50px">Travel far, <br />travel wide, <br /></span>
            <span class="span1">and let soul explode the wonders of the world.</span>
        </h1>
    

        <div class="destination-bar-transparent">
            <div class="destination-content-white">
                
                <form id="seachForm">
                    <div class="form-style">
                        <div class="destination-form-style">
                            <label class="poppins-bold-parsley-14px">From: </label>
                            <select class="poppins-bold-parsley-14px" style="border: none;" name="countryOrigin">
                                <% origins.forEach(origin => { %>
                                    <option value="<%= origin %>"><%= origin %></option>
                                <% }); %>
                            </select>
                        </div>

                        <div class="destination-form-style">
                            <label class="poppins-bold-parsley-14px">Destination:</label>
                            <select class="poppins-bold-parsley-14px" style="border: none;" name="countryDestination">
                                <% destinations.forEach(destination => { %>
                                    <option value="<%= destination %>"><%= destination %></option>
                                <% }); %>
                            </select>
                        </div>

                        <div class="destination-form-style"> 
                            <label class="poppins-bold-parsley-14px">Guests:</label>
                            <select class="poppins-bold-parsley-14px" style="border: none;" name="guests">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                        </div>
                    </div>
                </div>

                    <div class="search-style">
                        <button class="poppins-bold-white-14px" style="width: 100%; border: none; background-color: var(--porsche); margin-top: 30%;" type="submit">Search</button>
                    </div>

                </form>
            </div>
        </div>

    </div>

</body>
</html>