<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TravelApp | LogIn</title>

    <link href="/css/login.css" rel="stylesheet" type="text/css">
  </head>
<body class="color-background">

    <div class="gap-logo-button">

        <div class="logo poppins-black-white-36px">
            <a href="/" class="logo-color">Travel App</a>
        </div>

        <div class="register-button-frame">
            <a href="/register" class="registerbutton">Register</a>
        </div>
    </div>

    <div>
        <h1 class="title-middle poppins-black-white-36px">Log In</h1>
    </div>

    <form class="form-border" id="loginForm">
        <div class="input-style">
            <input type="text" placeholder="Name" name="name" class="poppins-bold-parsley-14px" style="width: 95%; background-color: #e5f8e4; border: none;">
        </div>
        <div class="input-style">
            <input type="text" placeholder="Email" name="email" class="poppins-bold-parsley-14px" style="width: 95%; background-color: #e5f8e4; border: none;">
        </div>
        <div class="input-style">
            <input type="password" placeholder="Password" name="password" class="poppins-bold-parsley-14px" style="width: 95%; background-color: #e5f8e4; border: none;">
        </div>
        
        <div class="submit-style">
            <button class="poppins-bold-parsley-14px" style="width: 100%; border: none; background-color: var(--porsche);" type="submit">Log In</button>
        </div>
    </form>
  
    <script>
      document.getElementById('loginForm').addEventListener('submit', async (event) => {
        event.preventDefault();
  
        const form = event.target;
        const formData = new FormData(form);
        const requestData = Object.fromEntries(formData);
  
        try {
          const response = await fetch('/users/login', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify(requestData)
          });
  
          if (response.ok) {
            const data = await response.json();
            if (data.redirect) {
            const { user } = data;
            window.location.href = `${data.redirect}?user=${encodeURIComponent(JSON.stringify(user))}`;
            }
          } else {
              const errorData = await response.json();
              console.error('Log In Failed:', errorData.error);
              // Handle error display on the frontend
          }
          } catch (error) {
          console.error('Log In Failed:', error);
          // Handle error display on the frontend
          }
      });
    </script>
  
  </body>
  </html>