<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TravelApp | Flights</title>

  <link href="/css/payment.css" rel="stylesheet" type="text/css">
</head>

<body class="color-background">

    <div class="logo poppins-black-white-36px">
        <a href="/" class="logo-color">Travel App</a>
    </div>

    <div class="price-border">

        <div class="poppins-bold-black-14px">
            Order #83r8237576734
        </div>

        <div class="gap-price-description">

            <div class="poppins-bold-black-14px">
                Price$
            </div>

            <div class="poppins-bold-black-14px">
                Description: 
            </div>

        </div>
    </div>

    
    <div>
        <div>
            <h3 class="poppins-bold-black-25px title-middle">Select your payment method:</h3>
        </div>

        <div class="title-middle">
            <div class="gap-methods">
                <input type="radio" name="paymentOptions" id="option1">
                <label for="option1" class="poppins-bold-black-14px">Credit or debit card (Visa / Mastercard / MIR)</label>
            </div>

            <div class="gap-methods">
                <input type="radio" name="paymentOptions" id="option2">
                <label for="option2" class="poppins-bold-black-14px">Apple pay</label>
            </div>

            <div class="gap-methods">
                <input type="radio" name="paymentOptions" id="option3">
                <label for="option3" class="poppins-bold-black-14px">Paypal</label>
            </div>

            <div class="gap-methods">
                <input type="radio" name="paymentOptions" id="option4">
                <label for="option4" class="poppins-bold-black-14px">Bank Transfer</label>
            </div>
        </div>

        <div class="title-middle">
            <div class="go-back-style">
                <button class="go-back-button poppins-bold-black-14px">Go Back</button>
            </div>

            <div class="continue-style">
                <button class="continue-button poppins-bold-black-14px">Continue</button>
            </div>
        </div>

    </div>

    <script>
        document.getElementById('paymentForm').addEventListener('submit', async (event) => {
          event.preventDefault();
    
          const form = event.target;
          const formData = new FormData(form);
          const requestData = Object.fromEntries(formData);
    
          try {
            const response = await fetch('/flights/paymentPage', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json'
              },
              body: JSON.stringify(requestData)
            });
    
            if (response.ok) {
              const data = await response.json();
              if (data.redirect) {
              const { flight, guests, user } = data;
              window.location.href = `${data.redirect}?flight=${encodeURIComponent(JSON.stringify(flight))}&guests=${encodeURIComponent(JSON.stringify(guests))}&user=${encodeURIComponent(JSON.stringify(user))}`;
              }
            } else {
                const errorData = await response.json();
                console.error('Flight Selection Failed:', errorData.error);
                // Handle error display on the frontend
            }
            } catch (error) {
            console.error('Flight Selection Failed:', error);
            // Handle error display on the frontend
            }
        });
    </script>

</body>
</html>