<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TravelApp | Register</title>

    <link href="/css/register.css" rel="stylesheet" type="text/css">
  </head>

<body class="color-background">

    <div class="gap-logo-button">

        <div class="logo poppins-black-white-36px">
            <a href="/" class="logo-color">Travel App</a>
        </div>

        <div class="login-button-frame">
            <a href="/login" class="login-button">Log Out</a>
        </div>

    </div>

    <div>
        <h1 class="title-middle poppins-black-white-36px">Edit Profile</h1>
    </div>

    <form class="form-border" id="updateForm">

        <div class="gap-form-input">

            <div class="input-style">
                <input type="text" placeholder="Name" name="name" value="" class="poppins-bold-parsley-14px" style="background-color: #e5f8e4; border: none;">
            </div>

            <div class="input-style">
                <label class="poppins-bold-parsley-14px">Birthdate:</label>
                <input type="date" placeholder="Date" name="birthdate" class="poppins-bold-parsley-14px" style="background-color: #e5f8e4; border: none;">
            </div>

            <div class="input-style">
                <input type="text" placeholder="Email" name="email" class="poppins-bold-parsley-14px" style="background-color: #e5f8e4; border: none;">
            </div>

        </div>
        
        <div class="gap-form-input">

            <div class="input-style">
                <input type="text" placeholder="Country" name="country" class="poppins-bold-parsley-14px" style="background-color: #e5f8e4; border: none;">
            </div>

            <div class="input-style">
                <input type="text" placeholder="Passport Number" name="passport" class="poppins-bold-parsley-14px" style="background-color: #e5f8e4; border: none;">
            </div>

            <div class="input-style">
                <input type="password" placeholder="Password" name="password" class="poppins-bold-parsley-14px" style="background-color: #e5f8e4; border: none;">
            </div>

        </div>

        <div class="submit-style">
            <button class="poppins-bold-parsley-14px" style="width: 100%; border: none; background-color: var(--porsche);" type="submit">Save</button>
        </div>

    </form>
  
    <script>
      
      document.addEventListener('DOMContentLoaded', () => {

        const urlParams = new URLSearchParams(window.location.search);
        const encodedUser = urlParams.get('user');
        const user = JSON.parse(decodeURIComponent(encodedUser));

        document.querySelector('input[name="name"]').value = user.name;
        document.querySelector('input[name="birthdate"]').value = user.birthdate;
        document.querySelector('input[name="email"]').value = user.email;
        document.querySelector('input[name="country"]').value = user.country;
        document.querySelector('input[name="passport"]').value = user.passportNumber;
        document.querySelector('input[name="password"]').value = user.password;
      });

      document.getElementById('updateForm').addEventListener('submit', async (event) => {
        event.preventDefault();
  
        const form = event.target;
        const formData = new FormData(form);
        const requestData = Object.fromEntries(formData);
  
        try {
          const response = await fetch('/users/<%= user._id %>', {
            method: 'PUT',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify(requestData)
          });
  
          if (response.ok) {
            const data = await response.json();
            if (data.redirect) {
              window.location.href = data.redirect;
            }
          } else {
            const errorData = await response.json();
            console.error('Update failed:', errorData.error);
            // Handle error display on the frontend
          }
        } catch (error) {
          console.error('Update failed:', error);
          // Handle error display on the frontend
        }
      });
    </script>
  
  </body>
  </html>
